body{
    
}
#navigation {
    position: absolute;
    right: 0;
    top: 0;
}

#content {
    top: 150px;
    clear: both;
}

#logo {
    background-image: url("logo.png");
    backgound-color: #fff;
}